@media (min-width: 1200px) {

    header,
    nav,
    footer {
        max-width: 100%;
    }

    main {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .custom-btn {
        width: 150px;
        height: 50px;
        bottom: 300px;
    }

    .switch {
        right: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {

    header p {
        margin-bottom: 60px;
    }

    header {
        margin-bottom: 0px;
    }

    .three {
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
    }

    hr {

        grid-column: span 2;
    }

    .three h2 {
        grid-column: span 4;
        justify-items: center;
    }

    .mini-card-1,
    .mini-card-2 {
        margin-left: 15px;
    }
}