@media (min-width: 1200px) {

    header,
    nav,
    footer {
        max-width: 1200px;
    }

    main {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .custom-btn {
        width: 150px;
        height: 50px;
        bottom: 300px;
    }

}