@media (min-width: 768px) and (max-width: 1199px) {

    header,
    nav,
    footer,
    .card {
        max-width: 100%;
    }

    nav a {
        margin: 5px;
    }

    main {
        grid-template-columns: 1fr;
    }

    .card-container {
        max-width: 200%;
        margin-bottom: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
    }
}