main h2 {
    font-size: 2em;
    text-align: center;
}

.wf1 label {
    padding: 10px;
    display: block;
    font-size: 1em;
}

.wf1 fieldset {
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
    max-width: 400px;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"] {
    background-color: #eee;
    display: block;
    border: solid 1px #000;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 90%;
    max-width: 400px;
    appearance: none;
    text-align: center;
    margin-bottom: 15px;

}

.wf1 input[type="range"] {
    display: block;
}

.wf1 input[type="submit"] {
    display: block;
    margin: 1rem auto;
    border-radius: 6px;
    padding: .8rem;
    width: 70%;
    max-width: 400px;
}

.wf1 input:required {
    border-left: solid 6px red;
}

.wf1 input:required:valid {
    border-left: solid 6px green;
}